.type{
    margin-bottom: 20px;
    padding-right: 10px;
    
    
    select{
        width: 50vh;
        height: 6vh;
        background-color: #fff;
        padding: 0px;
        outline: none;
        font-size: 16px;
    }
    
}