@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;0,500;1,100&family=Roboto:wght@100;300;400&display=swap');

:root{
    --sm-text : 'Open Sans', sans-serif;
    --lg-text : 'Roboto', sans-serif;
    --md-text : 'Poppins', sans-serif;

    --gr-btn : #229478;
    --pik-btn : #f3334c;
}